.admin-container {
  display: flex;
  .sidebar-container {
    // position: fixed;
    .ps-sidebar-root {
      min-height: 100vh;
      height: 100%;
      .logoAdmin {
        font-size: 2rem;
        text-align: center;
        padding-top: 20px;
      }
      .ps-sidebar-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .content-container {
    padding: 30px;
    // padding-left: 280px;
    width: 100%;
    .header-admin {
      display: flex;
    }
  }
}
